{% extends "base.html" %}
{% load static %}

{% block css %}
    {{ block.super }}
    <!-- ReactJS css bundle from optimized build -->
    <link href="{{ react_css_bundle }}" rel="stylesheet">
{% endblock css %}

{% block javascript %}
    {{ block.super }}
    <!-- ReactJS js bundle from optimized build -->
    <script defer="defer" src="{{ react_js_bundle }}"></script>
{% endblock javascript %}


{%  block content %}
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="reactjs-root"></div>
{% endblock content %}